@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);
  
  --color-primary: hsl(263.4 70% 50.4%);
  --color-primary-foreground: hsl(210 40% 98%);
  
  --color-card: hsl(240 10% 10%); 
  --color-card-foreground: hsl(0 0% 98%);
  
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);

  --radius-3xl: 1.5rem;
  --radius-2xl: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
button {
  cursor: pointer;
}

